.img {
    position: relative;
    width:  300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}